:root {
    --skin-color: #ffd823;
    --ear-eye-nose-color: #000;
    --eye-glint-color: #fff;
    --cheek-color: #fe2f1d;
    --mouth-color: #74070a;
    --tongue-color: #f45490;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    background: linear-gradient(45deg, #00f535, transparent);
}

label,
input {
    cursor: pointer;
}

.color-pickers {
    position: absolute;
    top: 1em;
    left: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    background: antiquewhite;
    padding: 1em;
    border-radius: 5px;
    border: solid 1px gray;
}

.container {
    height: 31em;
    width: 34em;
    cursor: pointer;
}

.pikachu {
    animation: bob 2s infinite ease-in-out;
    width: 1em;
    height: 1em;
    box-shadow:
        /* Row 1 */
        1em 0em var(--ear-eye-nose-color),
        2em 0em var(--ear-eye-nose-color),
        31em 0em var(--ear-eye-nose-color),
        32em 0em var(--ear-eye-nose-color),
        /* Row 2 */
        1em 1em var(--ear-eye-nose-color),
        2em 1em var(--ear-eye-nose-color),
        3em 1em var(--ear-eye-nose-color),
        30em 1em var(--ear-eye-nose-color),
        31em 1em var(--ear-eye-nose-color),
        32em 1em var(--ear-eye-nose-color),
        /* Row 3 */
        1em 2em var(--ear-eye-nose-color),
        2em 2em var(--ear-eye-nose-color),
        3em 2em var(--ear-eye-nose-color),
        4em 2em var(--ear-eye-nose-color),
        5em 2em var(--skin-color),
        28em 2em var(--skin-color),
        29em 2em var(--ear-eye-nose-color),
        30em 2em var(--ear-eye-nose-color),
        31em 2em var(--ear-eye-nose-color),
        32em 2em var(--ear-eye-nose-color),
        /* Row 4 */
        1em 3em var(--ear-eye-nose-color),   
        2em 3em var(--ear-eye-nose-color),
        3em 3em var(--ear-eye-nose-color),
        4em 3em var(--skin-color),
        5em 3em var(--skin-color),
        6em 3em var(--skin-color),
        27em 3em var(--skin-color),
        28em 3em var(--skin-color),
        29em 3em var(--skin-color),
        30em 3em var(--ear-eye-nose-color),
        31em 3em var(--ear-eye-nose-color),
        32em 3em var(--ear-eye-nose-color),
        /* Row 5 */
        2em 4em var(--ear-eye-nose-color),
        3em 4em var(--ear-eye-nose-color),
        4em 4em var(--skin-color),
        5em 4em var(--skin-color),
        6em 4em var(--skin-color),
        7em 4em var(--skin-color),
        26em 4em var(--skin-color),
        27em 4em var(--skin-color),
        28em 4em var(--skin-color),
        29em 4em var(--skin-color),
        30em 4em var(--ear-eye-nose-color),
        31em 4em var(--ear-eye-nose-color),
        /* Row 6 */
        2em 5em var(--ear-eye-nose-color),
        3em 5em var(--skin-color),
        4em 5em var(--skin-color),
        5em 5em var(--skin-color),
        6em 5em var(--skin-color),
        7em 5em var(--skin-color),
        8em 5em var(--skin-color),
        25em 5em var(--skin-color),
        26em 5em var(--skin-color),
        27em 5em var(--skin-color),
        28em 5em var(--skin-color),
        29em 5em var(--skin-color),
        30em 5em var(--skin-color),
        31em 5em var(--ear-eye-nose-color),
        /* Row 7 */
        2em 6em var(--ear-eye-nose-color),
        3em 6em var(--skin-color),
        4em 6em var(--skin-color),
        5em 6em var(--skin-color),
        6em 6em var(--skin-color),
        7em 6em var(--skin-color),
        8em 6em var(--skin-color),
        9em 6em var(--skin-color),
        24em 6em var(--skin-color),
        25em 6em var(--skin-color),
        26em 6em var(--skin-color),
        27em 6em var(--skin-color),
        28em 6em var(--skin-color),
        29em 6em var(--skin-color),
        30em 6em var(--skin-color),
        31em 6em var(--ear-eye-nose-color),
        /* Row 8 */
        3em 7em var(--skin-color),
        4em 7em var(--skin-color),
        5em 7em var(--skin-color),
        6em 7em var(--skin-color),
        7em 7em var(--skin-color),
        8em 7em var(--skin-color),
        9em 7em var(--skin-color),
        24em 7em var(--skin-color),
        25em 7em var(--skin-color),
        26em 7em var(--skin-color),
        27em 7em var(--skin-color),
        28em 7em var(--skin-color),
        29em 7em var(--skin-color),
        30em 7em var(--skin-color),
        /* Row 9 */
        4em 8em var(--skin-color),
        5em 8em var(--skin-color),
        6em 8em var(--skin-color),
        7em 8em var(--skin-color),
        8em 8em var(--skin-color),
        9em 8em var(--skin-color),
        10em 8em var(--skin-color),
        23em 8em var(--skin-color),
        24em 8em var(--skin-color),
        25em 8em var(--skin-color),
        26em 8em var(--skin-color),
        27em 8em var(--skin-color),
        28em 8em var(--skin-color),
        29em 8em var(--skin-color),
        /* Row 10 */
        4em 9em var(--skin-color),
        5em 9em var(--skin-color),
        6em 9em var(--skin-color),
        7em 9em var(--skin-color),
        8em 9em var(--skin-color),
        9em 9em var(--skin-color),
        10em 9em var(--skin-color),
        23em 9em var(--skin-color),
        24em 9em var(--skin-color),
        25em 9em var(--skin-color),
        26em 9em var(--skin-color),
        27em 9em var(--skin-color),
        28em 9em var(--skin-color),
        29em 9em var(--skin-color),
        /* Row 11 */
        5em 10em var(--skin-color),
        6em 10em var(--skin-color),
        7em 10em var(--skin-color),
        8em 10em var(--skin-color),
        9em 10em var(--skin-color),
        10em 10em var(--skin-color),
        11em 10em var(--skin-color),
        13em 10em var(--skin-color),
        14em 10em var(--skin-color),
        15em 10em var(--skin-color),
        16em 10em var(--skin-color),
        17em 10em var(--skin-color),
        18em 10em var(--skin-color),
        19em 10em var(--skin-color),
        20em 10em var(--skin-color),
        22em 10em var(--skin-color),
        23em 10em var(--skin-color),
        24em 10em var(--skin-color),
        25em 10em var(--skin-color),
        26em 10em var(--skin-color),
        27em 10em var(--skin-color),
        28em 10em var(--skin-color),
        /* Row 12 */
        6em 11em var(--skin-color),
        7em 11em var(--skin-color),
        8em 11em var(--skin-color),
        9em 11em var(--skin-color),
        10em 11em var(--skin-color),
        11em 11em var(--skin-color),
        12em 11em var(--skin-color),
        13em 11em var(--skin-color),
        14em 11em var(--skin-color),
        15em 11em var(--skin-color),
        16em 11em var(--skin-color),
        17em 11em var(--skin-color),
        18em 11em var(--skin-color),
        19em 11em var(--skin-color),
        20em 11em var(--skin-color),
        21em 11em var(--skin-color),
        22em 11em var(--skin-color),
        23em 11em var(--skin-color),
        24em 11em var(--skin-color),
        25em 11em var(--skin-color),
        26em 11em var(--skin-color),
        27em 11em var(--skin-color),
        /* Row 13 */
        7em 12em var(--skin-color),
        8em 12em var(--skin-color),
        9em 12em var(--skin-color),
        10em 12em var(--skin-color),
        11em 12em var(--skin-color),
        12em 12em var(--skin-color),
        13em 12em var(--skin-color),
        14em 12em var(--skin-color),
        15em 12em var(--skin-color),
        16em 12em var(--skin-color),
        17em 12em var(--skin-color),
        18em 12em var(--skin-color),
        19em 12em var(--skin-color),
        20em 12em var(--skin-color),
        21em 12em var(--skin-color),
        22em 12em var(--skin-color),
        23em 12em var(--skin-color),
        24em 12em var(--skin-color),
        25em 12em var(--skin-color),
        26em 12em var(--skin-color),
        /* Row 14 */
        8em 13em var(--skin-color),
        9em 13em var(--skin-color),
        10em 13em var(--skin-color),
        11em 13em var(--skin-color),
        12em 13em var(--skin-color),
        13em 13em var(--skin-color),
        14em 13em var(--skin-color),
        15em 13em var(--skin-color),
        16em 13em var(--skin-color),
        17em 13em var(--skin-color),
        18em 13em var(--skin-color),
        19em 13em var(--skin-color),
        20em 13em var(--skin-color),
        21em 13em var(--skin-color),
        22em 13em var(--skin-color),
        23em 13em var(--skin-color),
        24em 13em var(--skin-color),
        25em 13em var(--skin-color),
        /* Row 15 */
        8em 14em var(--skin-color),
        9em 14em var(--skin-color),
        10em 14em var(--skin-color),
        11em 14em var(--skin-color),
        12em 14em var(--skin-color),
        13em 14em var(--skin-color),
        14em 14em var(--skin-color),
        15em 14em var(--skin-color),
        16em 14em var(--skin-color),
        17em 14em var(--skin-color),
        18em 14em var(--skin-color),
        19em 14em var(--skin-color),
        20em 14em var(--skin-color),
        21em 14em var(--skin-color),
        22em 14em var(--skin-color),
        23em 14em var(--skin-color),
        24em 14em var(--skin-color),
        25em 14em var(--skin-color),
        /* Row 16 */
        7em 15em var(--skin-color),
        8em 15em var(--skin-color),
        9em 15em var(--skin-color),
        10em 15em var(--skin-color),
        11em 15em var(--skin-color),
        12em 15em var(--skin-color),
        13em 15em var(--skin-color),
        14em 15em var(--skin-color),
        15em 15em var(--skin-color),
        16em 15em var(--skin-color),
        17em 15em var(--skin-color),
        18em 15em var(--skin-color),
        19em 15em var(--skin-color),
        20em 15em var(--skin-color),
        21em 15em var(--skin-color),
        22em 15em var(--skin-color),
        23em 15em var(--skin-color),
        24em 15em var(--skin-color),
        25em 15em var(--skin-color),
        26em 15em var(--skin-color),
        /* Row 17 */
        7em 16em var(--skin-color),
        8em 16em var(--skin-color),
        9em 16em var(--skin-color),
        10em 16em var(--skin-color),
        11em 16em var(--skin-color),
        12em 16em var(--skin-color),
        13em 16em var(--skin-color),
        14em 16em var(--skin-color),
        15em 16em var(--skin-color),
        16em 16em var(--skin-color),
        17em 16em var(--skin-color),
        18em 16em var(--skin-color),
        19em 16em var(--skin-color),
        20em 16em var(--skin-color),
        21em 16em var(--skin-color),
        22em 16em var(--skin-color),
        23em 16em var(--skin-color),
        24em 16em var(--skin-color),
        25em 16em var(--skin-color),
        26em 16em var(--skin-color),
        /* Row 18 */
        7em 17em var(--skin-color),
        8em 17em var(--skin-color),
        9em 17em var(--skin-color),
        10em 17em var(--skin-color),
        11em 17em var(--skin-color),
        12em 17em var(--skin-color),
        13em 17em var(--skin-color),
        14em 17em var(--skin-color),
        15em 17em var(--skin-color),
        16em 17em var(--skin-color),
        17em 17em var(--skin-color),
        18em 17em var(--skin-color),
        19em 17em var(--skin-color),
        20em 17em var(--skin-color),
        21em 17em var(--skin-color),
        22em 17em var(--skin-color),
        23em 17em var(--skin-color),
        24em 17em var(--skin-color),
        25em 17em var(--skin-color),
        26em 17em var(--skin-color),
        /* Row 19 */
        7em 18em var(--skin-color),
        8em 18em var(--skin-color),
        9em 18em var(--skin-color),
        10em 18em var(--ear-eye-nose-color),
        11em 18em var(--ear-eye-nose-color),
        12em 18em var(--ear-eye-nose-color),
        13em 18em var(--skin-color),
        14em 18em var(--skin-color),
        15em 18em var(--skin-color),
        16em 18em var(--skin-color),
        17em 18em var(--skin-color),
        18em 18em var(--skin-color),
        19em 18em var(--skin-color),
        20em 18em var(--skin-color),
        21em 18em var(--ear-eye-nose-color),
        22em 18em var(--ear-eye-nose-color),
        23em 18em var(--ear-eye-nose-color),
        24em 18em var(--skin-color),
        25em 18em var(--skin-color),
        26em 18em var(--skin-color),
        /* Row 20 */
        7em 19em var(--skin-color),
        8em 19em var(--skin-color),
        9em 19em var(--ear-eye-nose-color),
        10em 19em var(--ear-eye-nose-color),
        11em 19em var(--eye-glint-color),
        12em 19em var(--ear-eye-nose-color),
        13em 19em var(--skin-color),
        14em 19em var(--skin-color),
        15em 19em var(--skin-color),
        16em 19em var(--skin-color),
        17em 19em var(--skin-color),
        18em 19em var(--skin-color),
        19em 19em var(--skin-color),
        20em 19em var(--skin-color),
        21em 19em var(--ear-eye-nose-color),
        22em 19em var(--eye-glint-color),
        23em 19em var(--ear-eye-nose-color),
        24em 19em var(--ear-eye-nose-color),
        25em 19em var(--skin-color),
        26em 19em var(--skin-color),
        /* Row 21 */
        7em 20em var(--skin-color),
        8em 20em var(--skin-color),
        9em 20em var(--ear-eye-nose-color),
        10em 20em var(--ear-eye-nose-color),
        11em 20em var(--ear-eye-nose-color),
        12em 20em var(--ear-eye-nose-color),
        13em 20em var(--skin-color),
        14em 20em var(--skin-color),
        15em 20em var(--skin-color),
        16em 20em var(--skin-color),
        17em 20em var(--skin-color),
        18em 20em var(--skin-color),
        19em 20em var(--skin-color),
        20em 20em var(--skin-color),
        21em 20em var(--ear-eye-nose-color),
        22em 20em var(--ear-eye-nose-color),
        23em 20em var(--ear-eye-nose-color),
        24em 20em var(--ear-eye-nose-color),
        25em 20em var(--skin-color),
        26em 20em var(--skin-color),
        /* Row 22 */
        7em 21em var(--skin-color),
        8em 21em var(--skin-color),
        9em 21em var(--skin-color),
        10em 21em var(--ear-eye-nose-color),
        11em 21em var(--ear-eye-nose-color),
        12em 21em var(--ear-eye-nose-color),
        13em 21em var(--skin-color),
        14em 21em var(--skin-color),
        15em 21em var(--skin-color),
        16em 21em var(--ear-eye-nose-color),
        17em 21em var(--ear-eye-nose-color),
        18em 21em var(--skin-color),
        19em 21em var(--skin-color),
        20em 21em var(--skin-color),
        21em 21em var(--ear-eye-nose-color),
        22em 21em var(--ear-eye-nose-color),
        23em 21em var(--ear-eye-nose-color),
        24em 21em var(--skin-color),
        25em 21em var(--skin-color),
        26em 21em var(--skin-color),
        /* Row 23 */
        7em 22em var(--cheek-color),
        8em 22em var(--cheek-color),
        9em 22em var(--skin-color),
        10em 22em var(--skin-color),
        11em 22em var(--skin-color),
        12em 22em var(--skin-color),
        13em 22em var(--skin-color),
        14em 22em var(--skin-color),
        15em 22em var(--skin-color),
        16em 22em var(--skin-color),
        17em 22em var(--skin-color),
        18em 22em var(--skin-color),
        19em 22em var(--skin-color),
        20em 22em var(--skin-color),
        21em 22em var(--skin-color),
        22em 22em var(--skin-color),
        23em 22em var(--skin-color),
        24em 22em var(--skin-color),
        25em 22em var(--cheek-color),
        26em 22em var(--cheek-color),
        /* Row 24 */
        6em 23em var(--cheek-color),
        7em 23em var(--cheek-color),
        8em 23em var(--cheek-color),
        9em 23em var(--cheek-color),
        10em 23em var(--skin-color),
        11em 23em var(--skin-color),
        12em 23em var(--skin-color),
        13em 23em var(--skin-color),
        14em 23em var(--skin-color),
        15em 23em var(--skin-color),
        16em 23em var(--mouth-color),
        17em 23em var(--mouth-color),
        18em 23em var(--skin-color),
        19em 23em var(--skin-color),
        20em 23em var(--skin-color),
        21em 23em var(--skin-color),
        22em 23em var(--skin-color),
        23em 23em var(--skin-color),
        24em 23em var(--cheek-color),
        25em 23em var(--cheek-color),
        26em 23em var(--cheek-color),
        27em 23em var(--cheek-color),
        /* Row 25 */
        6em 24em var(--cheek-color),
        7em 24em var(--cheek-color),
        8em 24em var(--cheek-color),
        9em 24em var(--cheek-color),
        10em 24em var(--cheek-color),
        11em 24em var(--skin-color),
        12em 24em var(--skin-color),
        13em 24em var(--skin-color),
        14em 24em var(--mouth-color),
        15em 24em var(--mouth-color),
        16em 24em var(--mouth-color),
        17em 24em var(--mouth-color),
        18em 24em var(--mouth-color),
        19em 24em var(--mouth-color),
        20em 24em var(--skin-color),
        21em 24em var(--skin-color),
        22em 24em var(--skin-color),
        23em 24em var(--cheek-color),
        24em 24em var(--cheek-color),
        25em 24em var(--cheek-color),
        26em 24em var(--cheek-color),
        27em 24em var(--cheek-color),
        /* Row 26 */
        7em 25em var(--cheek-color),
        8em 25em var(--cheek-color),
        9em 25em var(--cheek-color),
        10em 25em var(--cheek-color),
        11em 25em var(--skin-color),
        12em 25em var(--skin-color),
        13em 25em var(--skin-color),
        14em 25em var(--mouth-color),
        15em 25em var(--tongue-color),
        16em 25em var(--tongue-color),
        17em 25em var(--tongue-color),
        18em 25em var(--tongue-color),
        19em 25em var(--mouth-color),
        20em 25em var(--skin-color),
        21em 25em var(--skin-color),
        22em 25em var(--skin-color),
        23em 25em var(--cheek-color),
        24em 25em var(--cheek-color),
        25em 25em var(--cheek-color),
        26em 25em var(--cheek-color),
        /* Row 27 */
        7em 26em var(--cheek-color),
        8em 26em var(--cheek-color),
        9em 26em var(--cheek-color),
        10em 26em var(--cheek-color),
        11em 26em var(--skin-color),
        12em 26em var(--skin-color),
        13em 26em var(--skin-color),
        14em 26em var(--skin-color),
        15em 26em var(--tongue-color),
        16em 26em var(--tongue-color),
        17em 26em var(--tongue-color),
        18em 26em var(--tongue-color),
        19em 26em var(--skin-color),
        20em 26em var(--skin-color),
        21em 26em var(--skin-color),
        22em 26em var(--skin-color),
        23em 26em var(--cheek-color),
        24em 26em var(--cheek-color),
        25em 26em var(--cheek-color),
        26em 26em var(--cheek-color),
        /* Row 28 */
        8em 27em var(--cheek-color),
        9em 27em var(--cheek-color),
        10em 27em var(--skin-color),
        11em 27em var(--skin-color),
        12em 27em var(--skin-color),
        13em 27em var(--skin-color),
        14em 27em var(--skin-color),
        15em 27em var(--tongue-color),
        16em 27em var(--tongue-color),
        17em 27em var(--tongue-color),
        18em 27em var(--tongue-color),
        19em 27em var(--skin-color),
        20em 27em var(--skin-color),  
        21em 27em var(--skin-color),
        22em 27em var(--skin-color),
        23em 27em var(--skin-color),
        24em 27em var(--cheek-color),
        25em 27em var(--cheek-color),
        /* Row 29 */
        9em 28em var(--skin-color),
        10em 28em var(--skin-color),
        11em 28em var(--skin-color),
        12em 28em var(--skin-color),
        13em 28em var(--skin-color),
        14em 28em var(--skin-color),
        15em 28em var(--skin-color),
        16em 28em var(--tongue-color),
        17em 28em var(--tongue-color),
        18em 28em var(--skin-color),
        19em 28em var(--skin-color),
        20em 28em var(--skin-color),
        21em 28em var(--skin-color),
        22em 28em var(--skin-color),
        23em 28em var(--skin-color),
        24em 28em var(--skin-color),
        /* Row 30 */
        10em 29em var(--skin-color),
        11em 29em var(--skin-color),
        12em 29em var(--skin-color),
        13em 29em var(--skin-color),
        14em 29em var(--skin-color),
        15em 29em var(--skin-color),
        16em 29em var(--skin-color),
        17em 29em var(--skin-color),
        18em 29em var(--skin-color),
        19em 29em var(--skin-color),
        20em 29em var(--skin-color),
        21em 29em var(--skin-color),
        22em 29em var(--skin-color),
        23em 29em var(--skin-color),
        /* Row 31 */
        12em 30em var(--skin-color),
        13em 30em var(--skin-color),
        14em 30em var(--skin-color),
        15em 30em var(--skin-color),
        16em 30em var(--skin-color),
        17em 30em var(--skin-color),
        18em 30em var(--skin-color),
        19em 30em var(--skin-color),
        20em 30em var(--skin-color),
        21em 30em var(--skin-color);
}

.pikachu-smile {
    box-shadow:
        /* Row 1 */
        1em 0em var(--ear-eye-nose-color),
        2em 0em var(--ear-eye-nose-color),
        31em 0em var(--ear-eye-nose-color),
        32em 0em var(--ear-eye-nose-color),
        /* Row 2 */
        1em 1em var(--ear-eye-nose-color),
        2em 1em var(--ear-eye-nose-color),
        3em 1em var(--ear-eye-nose-color),
        30em 1em var(--ear-eye-nose-color),
        31em 1em var(--ear-eye-nose-color),
        32em 1em var(--ear-eye-nose-color),
        /* Row 3 */
        1em 2em var(--ear-eye-nose-color),
        2em 2em var(--ear-eye-nose-color),
        3em 2em var(--ear-eye-nose-color),
        4em 2em var(--ear-eye-nose-color),
        5em 2em var(--skin-color),
        28em 2em var(--skin-color),
        29em 2em var(--ear-eye-nose-color),
        30em 2em var(--ear-eye-nose-color),
        31em 2em var(--ear-eye-nose-color),
        32em 2em var(--ear-eye-nose-color),
        /* Row 4 */
        1em 3em var(--ear-eye-nose-color),   
        2em 3em var(--ear-eye-nose-color),
        3em 3em var(--ear-eye-nose-color),
        4em 3em var(--skin-color),
        5em 3em var(--skin-color),
        6em 3em var(--skin-color),
        27em 3em var(--skin-color),
        28em 3em var(--skin-color),
        29em 3em var(--skin-color),
        30em 3em var(--ear-eye-nose-color),
        31em 3em var(--ear-eye-nose-color),
        32em 3em var(--ear-eye-nose-color),
        /* Row 5 */
        2em 4em var(--ear-eye-nose-color),
        3em 4em var(--ear-eye-nose-color),
        4em 4em var(--skin-color),
        5em 4em var(--skin-color),
        6em 4em var(--skin-color),
        7em 4em var(--skin-color),
        26em 4em var(--skin-color),
        27em 4em var(--skin-color),
        28em 4em var(--skin-color),
        29em 4em var(--skin-color),
        30em 4em var(--ear-eye-nose-color),
        31em 4em var(--ear-eye-nose-color),
        /* Row 6 */
        2em 5em var(--ear-eye-nose-color),
        3em 5em var(--skin-color),
        4em 5em var(--skin-color),
        5em 5em var(--skin-color),
        6em 5em var(--skin-color),
        7em 5em var(--skin-color),
        8em 5em var(--skin-color),
        25em 5em var(--skin-color),
        26em 5em var(--skin-color),
        27em 5em var(--skin-color),
        28em 5em var(--skin-color),
        29em 5em var(--skin-color),
        30em 5em var(--skin-color),
        31em 5em var(--ear-eye-nose-color),
        /* Row 7 */
        2em 6em var(--ear-eye-nose-color),
        3em 6em var(--skin-color),
        4em 6em var(--skin-color),
        5em 6em var(--skin-color),
        6em 6em var(--skin-color),
        7em 6em var(--skin-color),
        8em 6em var(--skin-color),
        9em 6em var(--skin-color),
        24em 6em var(--skin-color),
        25em 6em var(--skin-color),
        26em 6em var(--skin-color),
        27em 6em var(--skin-color),
        28em 6em var(--skin-color),
        29em 6em var(--skin-color),
        30em 6em var(--skin-color),
        31em 6em var(--ear-eye-nose-color),
        /* Row 8 */
        3em 7em var(--skin-color),
        4em 7em var(--skin-color),
        5em 7em var(--skin-color),
        6em 7em var(--skin-color),
        7em 7em var(--skin-color),
        8em 7em var(--skin-color),
        9em 7em var(--skin-color),
        24em 7em var(--skin-color),
        25em 7em var(--skin-color),
        26em 7em var(--skin-color),
        27em 7em var(--skin-color),
        28em 7em var(--skin-color),
        29em 7em var(--skin-color),
        30em 7em var(--skin-color),
        /* Row 9 */
        4em 8em var(--skin-color),
        5em 8em var(--skin-color),
        6em 8em var(--skin-color),
        7em 8em var(--skin-color),
        8em 8em var(--skin-color),
        9em 8em var(--skin-color),
        10em 8em var(--skin-color),
        23em 8em var(--skin-color),
        24em 8em var(--skin-color),
        25em 8em var(--skin-color),
        26em 8em var(--skin-color),
        27em 8em var(--skin-color),
        28em 8em var(--skin-color),
        29em 8em var(--skin-color),
        /* Row 10 */
        4em 9em var(--skin-color),
        5em 9em var(--skin-color),
        6em 9em var(--skin-color),
        7em 9em var(--skin-color),
        8em 9em var(--skin-color),
        9em 9em var(--skin-color),
        10em 9em var(--skin-color),
        23em 9em var(--skin-color),
        24em 9em var(--skin-color),
        25em 9em var(--skin-color),
        26em 9em var(--skin-color),
        27em 9em var(--skin-color),
        28em 9em var(--skin-color),
        29em 9em var(--skin-color),
        /* Row 11 */
        5em 10em var(--skin-color),
        6em 10em var(--skin-color),
        7em 10em var(--skin-color),
        8em 10em var(--skin-color),
        9em 10em var(--skin-color),
        10em 10em var(--skin-color),
        11em 10em var(--skin-color),
        13em 10em var(--skin-color),
        14em 10em var(--skin-color),
        15em 10em var(--skin-color),
        16em 10em var(--skin-color),
        17em 10em var(--skin-color),
        18em 10em var(--skin-color),
        19em 10em var(--skin-color),
        20em 10em var(--skin-color),
        22em 10em var(--skin-color),
        23em 10em var(--skin-color),
        24em 10em var(--skin-color),
        25em 10em var(--skin-color),
        26em 10em var(--skin-color),
        27em 10em var(--skin-color),
        28em 10em var(--skin-color),
        /* Row 12 */
        6em 11em var(--skin-color),
        7em 11em var(--skin-color),
        8em 11em var(--skin-color),
        9em 11em var(--skin-color),
        10em 11em var(--skin-color),
        11em 11em var(--skin-color),
        12em 11em var(--skin-color),
        13em 11em var(--skin-color),
        14em 11em var(--skin-color),
        15em 11em var(--skin-color),
        16em 11em var(--skin-color),
        17em 11em var(--skin-color),
        18em 11em var(--skin-color),
        19em 11em var(--skin-color),
        20em 11em var(--skin-color),
        21em 11em var(--skin-color),
        22em 11em var(--skin-color),
        23em 11em var(--skin-color),
        24em 11em var(--skin-color),
        25em 11em var(--skin-color),
        26em 11em var(--skin-color),
        27em 11em var(--skin-color),
        /* Row 13 */
        7em 12em var(--skin-color),
        8em 12em var(--skin-color),
        9em 12em var(--skin-color),
        10em 12em var(--skin-color),
        11em 12em var(--skin-color),
        12em 12em var(--skin-color),
        13em 12em var(--skin-color),
        14em 12em var(--skin-color),
        15em 12em var(--skin-color),
        16em 12em var(--skin-color),
        17em 12em var(--skin-color),
        18em 12em var(--skin-color),
        19em 12em var(--skin-color),
        20em 12em var(--skin-color),
        21em 12em var(--skin-color),
        22em 12em var(--skin-color),
        23em 12em var(--skin-color),
        24em 12em var(--skin-color),
        25em 12em var(--skin-color),
        26em 12em var(--skin-color),
        /* Row 14 */
        8em 13em var(--skin-color),
        9em 13em var(--skin-color),
        10em 13em var(--skin-color),
        11em 13em var(--skin-color),
        12em 13em var(--skin-color),
        13em 13em var(--skin-color),
        14em 13em var(--skin-color),
        15em 13em var(--skin-color),
        16em 13em var(--skin-color),
        17em 13em var(--skin-color),
        18em 13em var(--skin-color),
        19em 13em var(--skin-color),
        20em 13em var(--skin-color),
        21em 13em var(--skin-color),
        22em 13em var(--skin-color),
        23em 13em var(--skin-color),
        24em 13em var(--skin-color),
        25em 13em var(--skin-color),
        /* Row 15 */
        8em 14em var(--skin-color),
        9em 14em var(--skin-color),
        10em 14em var(--skin-color),
        11em 14em var(--skin-color),
        12em 14em var(--skin-color),
        13em 14em var(--skin-color),
        14em 14em var(--skin-color),
        15em 14em var(--skin-color),
        16em 14em var(--skin-color),
        17em 14em var(--skin-color),
        18em 14em var(--skin-color),
        19em 14em var(--skin-color),
        20em 14em var(--skin-color),
        21em 14em var(--skin-color),
        22em 14em var(--skin-color),
        23em 14em var(--skin-color),
        24em 14em var(--skin-color),
        25em 14em var(--skin-color),
        /* Row 16 */
        7em 15em var(--skin-color),
        8em 15em var(--skin-color),
        9em 15em var(--skin-color),
        10em 15em var(--skin-color),
        11em 15em var(--skin-color),
        12em 15em var(--skin-color),
        13em 15em var(--skin-color),
        14em 15em var(--skin-color),
        15em 15em var(--skin-color),
        16em 15em var(--skin-color),
        17em 15em var(--skin-color),
        18em 15em var(--skin-color),
        19em 15em var(--skin-color),
        20em 15em var(--skin-color),
        21em 15em var(--skin-color),
        22em 15em var(--skin-color),
        23em 15em var(--skin-color),
        24em 15em var(--skin-color),
        25em 15em var(--skin-color),
        26em 15em var(--skin-color),
        /* Row 17 */
        7em 16em var(--skin-color),
        8em 16em var(--skin-color),
        9em 16em var(--skin-color),
        10em 16em var(--skin-color),
        11em 16em var(--skin-color),
        12em 16em var(--skin-color),
        13em 16em var(--skin-color),
        14em 16em var(--skin-color),
        15em 16em var(--skin-color),
        16em 16em var(--skin-color),
        17em 16em var(--skin-color),
        18em 16em var(--skin-color),
        19em 16em var(--skin-color),
        20em 16em var(--skin-color),
        21em 16em var(--skin-color),
        22em 16em var(--skin-color),
        23em 16em var(--skin-color),
        24em 16em var(--skin-color),
        25em 16em var(--skin-color),
        26em 16em var(--skin-color),
        /* Row 18 */
        7em 17em var(--skin-color),
        8em 17em var(--skin-color),
        9em 17em var(--skin-color),
        10em 17em var(--skin-color),
        11em 17em var(--skin-color),
        12em 17em var(--skin-color),
        13em 17em var(--skin-color),
        14em 17em var(--skin-color),
        15em 17em var(--skin-color),
        16em 17em var(--skin-color),
        17em 17em var(--skin-color),
        18em 17em var(--skin-color),
        19em 17em var(--skin-color),
        20em 17em var(--skin-color),
        21em 17em var(--skin-color),
        22em 17em var(--skin-color),
        23em 17em var(--skin-color),
        24em 17em var(--skin-color),
        25em 17em var(--skin-color),
        26em 17em var(--skin-color),
        /* Row 19 */
        7em 18em var(--skin-color),
        8em 18em var(--skin-color),
        9em 18em var(--skin-color),
        10em 18em var(--ear-eye-nose-color),
        11em 18em var(--ear-eye-nose-color),
        12em 18em var(--ear-eye-nose-color),
        13em 18em var(--skin-color),
        14em 18em var(--skin-color),
        15em 18em var(--skin-color),
        16em 18em var(--skin-color),
        17em 18em var(--skin-color),
        18em 18em var(--skin-color),
        19em 18em var(--skin-color),
        20em 18em var(--skin-color),
        21em 18em var(--ear-eye-nose-color),
        22em 18em var(--ear-eye-nose-color),
        23em 18em var(--ear-eye-nose-color),
        24em 18em var(--skin-color),
        25em 18em var(--skin-color),
        26em 18em var(--skin-color),
        /* Row 20 */
        7em 19em var(--skin-color),
        8em 19em var(--skin-color),
        9em 19em var(--skin-color),
        10em 19em var(--ear-eye-nose-color),
        11em 19em var(--skin-color),
        12em 19em var(--ear-eye-nose-color),
        13em 19em var(--skin-color),
        14em 19em var(--skin-color),
        15em 19em var(--skin-color),
        16em 19em var(--skin-color),
        17em 19em var(--skin-color),
        18em 19em var(--skin-color),
        19em 19em var(--skin-color),
        20em 19em var(--skin-color),
        21em 19em var(--ear-eye-nose-color),
        22em 19em var(--skin-color),
        23em 19em var(--ear-eye-nose-color),
        24em 19em var(--skin-color),
        25em 19em var(--skin-color),
        26em 19em var(--skin-color),
        /* Row 21 */
        7em 20em var(--skin-color),
        8em 20em var(--skin-color),
        9em 20em var(--skin-color),
        10em 20em var(--skin-color),
        11em 20em var(--skin-color),
        12em 20em var(--skin-color),
        13em 20em var(--skin-color),
        14em 20em var(--skin-color),
        15em 20em var(--skin-color),
        16em 20em var(--skin-color),
        17em 20em var(--skin-color),
        18em 20em var(--skin-color),
        19em 20em var(--skin-color),
        20em 20em var(--skin-color),
        21em 20em var(--skin-color),
        22em 20em var(--skin-color),
        23em 20em var(--skin-color),
        24em 20em var(--skin-color),
        25em 20em var(--skin-color),
        26em 20em var(--skin-color),
        /* Row 22 */
        7em 21em var(--skin-color),
        8em 21em var(--skin-color),
        9em 21em var(--skin-color),
        10em 21em var(--skin-color),
        11em 21em var(--skin-color),
        12em 21em var(--skin-color),
        13em 21em var(--skin-color),
        14em 21em var(--skin-color),
        15em 21em var(--skin-color),
        16em 21em var(--ear-eye-nose-color),/* nose */
        17em 21em var(--ear-eye-nose-color),/* nose */
        18em 21em var(--skin-color),
        19em 21em var(--skin-color),
        20em 21em var(--skin-color),
        21em 21em var(--skin-color),
        22em 21em var(--skin-color),
        23em 21em var(--skin-color),
        24em 21em var(--skin-color),
        25em 21em var(--skin-color),
        26em 21em var(--skin-color),
        /* Row 23 */
        7em 22em var(--cheek-color),
        8em 22em var(--cheek-color),
        9em 22em var(--skin-color),
        10em 22em var(--skin-color),
        11em 22em var(--skin-color),
        12em 22em var(--skin-color),
        13em 22em var(--skin-color),
        14em 22em var(--skin-color),
        15em 22em var(--skin-color),
        16em 22em var(--skin-color),
        17em 22em var(--skin-color),
        18em 22em var(--skin-color),
        19em 22em var(--skin-color),
        20em 22em var(--skin-color),
        21em 22em var(--skin-color),
        22em 22em var(--skin-color),
        23em 22em var(--skin-color),
        24em 22em var(--skin-color),
        25em 22em var(--cheek-color),
        26em 22em var(--cheek-color),
        /* Row 24 */
        6em 23em var(--cheek-color),
        7em 23em var(--cheek-color),
        8em 23em var(--cheek-color),
        9em 23em var(--cheek-color),
        10em 23em var(--skin-color),
        11em 23em var(--skin-color),
        12em 23em var(--skin-color),
        13em 23em var(--skin-color),
        14em 23em var(--skin-color),
        15em 23em var(--skin-color),
        16em 23em var(--mouth-color),
        17em 23em var(--mouth-color),
        18em 23em var(--skin-color),
        19em 23em var(--skin-color),
        20em 23em var(--skin-color),
        21em 23em var(--skin-color),
        22em 23em var(--skin-color),
        23em 23em var(--skin-color),
        24em 23em var(--cheek-color),
        25em 23em var(--cheek-color),
        26em 23em var(--cheek-color),
        27em 23em var(--cheek-color),
        /* Row 25 */
        6em 24em var(--cheek-color),
        7em 24em var(--cheek-color),
        8em 24em var(--cheek-color),
        9em 24em var(--cheek-color),
        10em 24em var(--cheek-color),
        11em 24em var(--skin-color),
        12em 24em var(--skin-color),
        13em 24em var(--skin-color),
        14em 24em var(--mouth-color),
        15em 24em var(--mouth-color),
        16em 24em var(--mouth-color),
        17em 24em var(--mouth-color),
        18em 24em var(--mouth-color),
        19em 24em var(--mouth-color),
        20em 24em var(--skin-color),
        21em 24em var(--skin-color),
        22em 24em var(--skin-color),
        23em 24em var(--cheek-color),
        24em 24em var(--cheek-color),
        25em 24em var(--cheek-color),
        26em 24em var(--cheek-color),
        27em 24em var(--cheek-color),
        /* Row 26 */
        7em 25em var(--cheek-color),
        8em 25em var(--cheek-color),
        9em 25em var(--cheek-color),
        10em 25em var(--cheek-color),
        11em 25em var(--skin-color),
        12em 25em var(--skin-color),
        13em 25em var(--skin-color),
        14em 25em var(--mouth-color),
        15em 25em var(--tongue-color),
        16em 25em var(--tongue-color),
        17em 25em var(--tongue-color),
        18em 25em var(--tongue-color),
        19em 25em var(--mouth-color),
        20em 25em var(--skin-color),
        21em 25em var(--skin-color),
        22em 25em var(--skin-color),
        23em 25em var(--cheek-color),
        24em 25em var(--cheek-color),
        25em 25em var(--cheek-color),
        26em 25em var(--cheek-color),
        /* Row 27 */
        7em 26em var(--cheek-color),
        8em 26em var(--cheek-color),
        9em 26em var(--cheek-color),
        10em 26em var(--cheek-color),
        11em 26em var(--skin-color),
        12em 26em var(--skin-color),
        13em 26em var(--skin-color),
        14em 26em var(--skin-color),
        15em 26em var(--tongue-color),
        16em 26em var(--tongue-color),
        17em 26em var(--tongue-color),
        18em 26em var(--tongue-color),
        19em 26em var(--skin-color),
        20em 26em var(--skin-color),
        21em 26em var(--skin-color),
        22em 26em var(--skin-color),
        23em 26em var(--cheek-color),
        24em 26em var(--cheek-color),
        25em 26em var(--cheek-color),
        26em 26em var(--cheek-color),
        /* Row 28 */
        8em 27em var(--cheek-color),
        9em 27em var(--cheek-color),
        10em 27em var(--skin-color),
        11em 27em var(--skin-color),
        12em 27em var(--skin-color),
        13em 27em var(--skin-color),
        14em 27em var(--skin-color),
        15em 27em var(--tongue-color),
        16em 27em var(--tongue-color),
        17em 27em var(--tongue-color),
        18em 27em var(--tongue-color),
        19em 27em var(--skin-color),
        20em 27em var(--skin-color),  
        21em 27em var(--skin-color),
        22em 27em var(--skin-color),
        23em 27em var(--skin-color),
        24em 27em var(--cheek-color),
        25em 27em var(--cheek-color),
        /* Row 29 */
        9em 28em var(--skin-color),
        10em 28em var(--skin-color),
        11em 28em var(--skin-color),
        12em 28em var(--skin-color),
        13em 28em var(--skin-color),
        14em 28em var(--skin-color),
        15em 28em var(--skin-color),
        16em 28em var(--tongue-color),
        17em 28em var(--tongue-color),
        18em 28em var(--skin-color),
        19em 28em var(--skin-color),
        20em 28em var(--skin-color),
        21em 28em var(--skin-color),
        22em 28em var(--skin-color),
        23em 28em var(--skin-color),
        24em 28em var(--skin-color),
        /* Row 30 */
        10em 29em var(--skin-color),
        11em 29em var(--skin-color),
        12em 29em var(--skin-color),
        13em 29em var(--skin-color),
        14em 29em var(--skin-color),
        15em 29em var(--skin-color),
        16em 29em var(--skin-color),
        17em 29em var(--skin-color),
        18em 29em var(--skin-color),
        19em 29em var(--skin-color),
        20em 29em var(--skin-color),
        21em 29em var(--skin-color),
        22em 29em var(--skin-color),
        23em 29em var(--skin-color),
        /* Row 31 */
        12em 30em var(--skin-color),
        13em 30em var(--skin-color),
        14em 30em var(--skin-color),
        15em 30em var(--skin-color),
        16em 30em var(--skin-color),
        17em 30em var(--skin-color),
        18em 30em var(--skin-color),
        19em 30em var(--skin-color),
        20em 30em var(--skin-color),
        21em 30em var(--skin-color);
}

@keyframes bob {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1em);
    }
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
}
